/* ******************************* BASE STYLES ****************************** */
* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

.container-grid {
  border: 5px solid black;
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-areas:
    "header"
    "nav"
    "main";
}

/* ********************************* CURSOR ********************************* */
.switch-light,
select,
.btn,
.alert-banner-close,
.traffic-nav li,
.icon-nav,
#js-icon-bell,
#js-close {
  cursor: pointer;
}

/* ****************************** HEADER STYLES ***************************** */
header,
.icon-name {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header {
  background: blue;
  color: #fff;
  padding: 10px;
  grid-area: header;
}

.icon {
  height: 30px;
  border-right: 2px solid rgb(255, 251, 251);
  padding-right: 10px;
}

.icon-red {
  height: 15px;
  position: absolute;
  top: -5px;
}

.icon-profile {
  border-radius: 50%;
  background: gold;
  margin: 0 10px 0 10px;
  height: 35px;
  border: 2px solid #fff;
}

div.icon-name:last-child {
  align-items: center;
}

.icon-name > p {
  width: 80px;
}

.dashboard {
  display: grid;
  grid-template-columns: 175px 1fr;
  grid-template-rows: 45px;
}

.dashboard > h2 {
  padding: 10px;
}

.input {
  background-color: grey;
  padding: 5px 10px 0 0;
  text-align: right;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
}

input[type="text"].input-search {
  padding-left: 15px;
  border-radius: 5px;
  width: 50%;
  height: 30px;
  border: none;
}

.input-search {
  background: #ffffff url("../icons/search.svg") no-repeat 98% 80%;
  background-size: 25px;
}

/* ******************************* NAV STYLES ******************************* */
nav {
  background: brown;
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.icon-nav {
  height: 30px;
}

/* *************************** MAIN CONTENT STYLES ************************** */
.members-section,
.social-stats,
.form,
.members-section {
  padding: 10px;
  border: 4px solid lightgreen;
  overflow: auto;
}

div.social-stats > h2,
.members-section > h2,
.container-flex > h2,
.chart-bar > h2,
.chart-donut > h2 {
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.members-section {
  text-align: center;
}

main {
  grid-area: main;
}

div.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  border: 6px solid rgb(47, 195, 236);
}

.icon-social {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  background: navy;
}

.icon-social-media {
  height: 50px;
  align-self: center;
  padding: 10px 0 0 20px;
}

.social-stats-sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
}

.social-stats-info {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0.35em 0;
  background: silver;
  border-radius: 5px;
}

.social-text {
  padding-left: 35px;
}

div.social-text > p {
  font-size: 3em;
}

.members-img {
  border-radius: 50%;
  height: 55px;
  border: 2px solid purple;
}

.members-new {
  margin-bottom: 15px;
}

.brdr-line {
  border-bottom: 1px solid grey;
}

.chart-line,
.chart-bar,
.chart-donut {
  border: 5px solid brown;
  overflow: hidden;
  padding: 10px;
}

.widget-container {
  height: 280px;
}

.arrow-right {
  padding-top: 15px;
}

.traffic-nav li {
  display: inline-block;
  margin-right: 20px;
}

.traffic-nav li:hover {
  border-bottom: 1px solid black;
}

.container-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

/* ****************************** ALERT BANNER ****************************** */
.alert {
  background: red;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0.6em;
  transition: all 3s linear 3s;
}

.alert-banner {
  display: flex;
  justify-content: space-between;
}

.alert-banner-close:hover {
  color: rgb(39, 58, 39);
  transition: all 3s linear 3s;
}

/* ***************************** ALERT BELL ICON **************************** */
.notifications {
  position: relative;
}

.notifications-message {
  position: absolute;
  top: 25px;
  width: 180px;
  right: -85px;
  color: #fff;
  z-index: 1000;
  opacity: 0.95;
  border-radius: 5px;
}

.notifications-message ul li {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: brown;
  border-bottom: 1px solid grey;
}

.notifications-message ul li:last-child {
  border-bottom: none;
}

.notifications-members-img {
  height: 25px;
  padding-right: 10px;
  border-radius: 50%;
}

/* ********************************** FORM ********************************** */
.form-user input[type="text"],
textarea {
  padding: 5px 0 5px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
}

.form-user input[type="text"] {
  height: 35px;
}

/* input[type="text"]::placeholder,
textarea::placeholder {
} */

.btn {
  padding: 10px;
  background: blue;
  border: none;
  color: #fff;
  border-radius: 5px;
  height: 45px;
}

.form-user {
  display: flex;
  flex-direction: column;
}

.js-error {
  margin-bottom: 10px;
  padding: 0.35em;
  background: red;
  color: #fff;
  border-radius: 5px;
}

.js-success {
  margin-bottom: 10px;
  padding: 0.35em;
  background: green;
  color: #fff;
  border-radius: 5px;
}

.members-section {
  position: relative;
}

#js-list-names > ul {
  margin-bottom: 5px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 4px 6px 0 rgba(32, 33, 36, 0.28);
  background-color: #fff;
  top: 90px;
  width: 95%;
}

#js-list-names > ul > li {
  padding: 5px;

  cursor: pointer;
}

#js-list-names > ul > li:hover {
  background-color: lightgrey;
}

/* ******************************** SETTINGS ******************************** */
.setting-one,
.setting-two {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.switch-light {
  width: 30%;
}

.setting-timezone {
  display: flex;
  margin-bottom: 20px;
}

select {
  flex-grow: 1;
  height: 45px;
  padding-left: 15px;
  margin-top: 20px;
}

.setting-button {
  display: flex;
}

.btn-1,
.btn-2 {
  flex-grow: 1;
}

.btn-1 + .btn-2 {
  margin-left: 20px;
}

/* ****************************** MEDIA QUERIES ***************************** */
@media (min-width: 40em) {
  .members-section,
  .text-upper {
    text-align: initial;
  }

  .members-new {
    display: flex;
  }

  .members-new-info {
    align-self: center;
  }

  .members-new > p,
  .members-new > svg {
    margin-left: auto;
  }

  .members-avatar {
    margin-right: 15px;
  }

  .arrow-right {
    padding-top: initial;
  }

  .container-flex {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: initial;
  }

  .dashboard,
  .chart-line,
  .social-stats,
  .chart-bar,
  .chart-donut,
  .members-section {
    grid-column: 1 / 3;
  }

  /* Settings */
  .switch-light {
    width: 60%;
  }

  .alert {
    grid-column: 1/3;
  }

  .notifications-message {
    width: 230px;
    right: -2px;
  }
}

@media (min-width: 48em) {
  .wrap {
    width: 90%;
    margin: 0 auto;
  }

  /* nav */
  nav {
    flex-direction: column;
    justify-content: start;
  }
  .icon-nav {
    margin-bottom: 20px;
  }
  .icon-nav + .icon-nav {
    margin-bottom: 20px;
  }

  .container-grid {
    grid-template-columns: minmax(55px, 60px);
    grid-template-areas:
      "header header"
      "nav main"
      "nav main";
  }

  /* Main Content Styles */

  div.main-content {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
  }

  .social-stats-sec {
    grid-gap: 25px;
  }

  .chart-bar,
  .chart-donut {
    grid-column: initial;
  }
}

@media (min-width: 53.125em) {
  .members-section {
    grid-column: initial;
  }
}

@media (min-width: 64em) {
  .wrap {
    max-width: 1400px;
  }
}
