// Flex
@mixin flexy(
  $dsp: flex,
  $dir: null,
  $j-content: null,
  $t-align: null,
  $f-grow: null,
  $align: null,
  $a-self: null
) {
  display: $dsp;
  flex-direction: $dir;
  justify-content: $j-content;
  align-content: $t-align;
  flex-grow: $f-grow;
  align-items: $align;
  align-self: $a-self;
}

// Grid
@mixin grid($dsp: grid, $grid-col: null, $grid-row: null, $gutter: null) {
  display: $dsp;
  grid-template-columns: $grid-col;
  grid-template-rows: $grid-row;
  grid-gap: $gutter;
}

// btn
@mixin btn {
  @include flexy($j-content: space-between);
  margin-bottom: 10px;
  padding: 0.55em;
  color: $color-white;
  border-radius: $brdr-radius;
}

@mixin closeBtn {
  font-weight: bold;
  font-size: 30px;
  line-height: 20px;
  transition: 0.3s;
  padding: 5px;
  border-radius: 5px;
}
