// Variables
$color-white: #fff;
$primary-color: rgba(0, 0, 0, 0.8);
$brdr-radius: 5px;
$cursor: pointer;
$t-center: center;
$margin-top: 20px;
$googlePlus--col: #db4a39;
$facebook--col: #3b5998;
$twitter--col: #00acee;
$nav--bck-col: #363941;
$header--bck-col: #1c2225;

// Breakpoints
$break-s: '(min-width: 640px)';
$break-m: '(min-width: 768px)';
$break-l: '(min-width: 850px)';
$break-xl: '(min-width: 1680px)';
