// Variables
$color-white: #fff;
$primary-color: rgba(0, 0, 0, 0.8);

$brdr-radius: 5px;

$cursor: pointer;

$t-center: center;

// Breakpoints
$break-s: "(min-width: 640px)";
$break-m: "(min-width: 768px)";
$break-l: "(min-width: 850px)";
$break-xl: "(min-width: 1680px)";
