// Variables
$color-white: #fff;
$btn-color: rgba(0, 0, 0, 0.8);

$brdr-radius: 5px;

$cursor: pointer;

$t-center: center;

// Breakpoints
$break-s: "(min-width: 40em)";
$break-m: "(min-width: 48em)";
$break-l: "(min-width: 53.125em)";
$break-xl: "(min-width: 64em)";
