/* ****************************** ALERT BANNER ****************************** */
#js-alert {
  background: red;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0.6em;
}

.alert-banner {
  display: flex;
  justify-content: space-between;
}
