/* ***************************** ALERT NOTIFICATIONS **************************** */
.notifications {
  position: relative;
}

.notifications-message {
  @media #{$break-s} {
    width: 230px;
    right: -2px;
  }
  position: absolute;
  top: 25px;
  z-index: 1;
  width: 180px;
  right: -85px;
  color: $color-white;
  opacity: 0.95;
  border-radius: $brdr-radius;
  & ul li {
    @include flexy($j-content: space-around);
    padding: 10px;
    background: darkslategray;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    align-items: flex-start;
  }
  & ul li:last-child {
    border-bottom: none;
  }
}

.notifications-members-img {
  height: 25px;
  padding-right: 10px;
  border-radius: 50%;
}

#js-notifications {
  display: none;
}

ul li.clear-not {
  background: lightslategrey;
  margin-top: 5px;
  font-weight: bolder;
}

.js-close-notification {
  @include closeBtn;
  &:hover {
    background-color: $primary-color;
  }
}
