/* ***************************** ALERT NOTIFICATIONS **************************** */
.notifications {
  position: relative;
}

.notifications-message {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
  color: $color-white;

  @media #{$break-s} {
    position: absolute;
    top: 25px;
    width: 300px;
    left: -250px;
  }
  & ul li {
    @include flexy($j-content: space-around);
    padding: 10px;
    background: darkslategray;
    border-bottom: 1px solid grey;
    align-items: flex-start;
  }
  & ul li:last-child {
    border-bottom: none;
  }
}

.notifications-members-img {
  height: 25px;
  padding-right: 10px;
  border-radius: 50%;
}

#js-notifications {
  display: none;
}

ul li.clear-not {
  background: lightslategrey;
  margin-top: 5px;
  font-weight: bolder;
}

.js-close-notification {
  @include closeBtn;
  &:hover {
    background-color: $primary-color;
  }
}
