/* ***************************** ALERT NOTIFICATIONS **************************** */
.notifications {
  position: relative;
}

.notifications-message {
  position: absolute;
  top: 25px;
  width: 180px;
  right: -85px;
  color: #fff;
  z-index: 1000;
  opacity: 0.95;
  border-radius: 5px;
}

.notifications-message ul li {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: brown;
  border-bottom: 1px solid grey;
}

.notifications-message ul li:last-child {
  border-bottom: none;
}

.notifications-members-img {
  height: 25px;
  padding-right: 10px;
  border-radius: 50%;
}
