/* ********************************* BUTTON ********************************* */

.btn {
  padding: 10px;
  background: $primary-color;
  border: none;
  color: $color-white;
  border-radius: $brdr-radius;
  height: 45px;
  transition: background 1s ease-in-out;
  &:hover {
    background: lighten($primary-color, 9%);
  }
  &-1 {
    @include flexy($dsp: null, $f-grow: 1);
  }
  &-2 {
    @include flexy($dsp: null, $f-grow: 1);
    background: rgba(56, 55, 55, 0.8);
  }
  &-1 + &-2 {
    margin-left: 20px;
  }
}

.setting-button {
  @include flexy();
}
