/* ********************************** FORM ********************************** */

.form-user input[type='text'] {
  height: 35px;
}

.form-user input[type='text'],
textarea {
  padding: 5px 0 5px 15px;
  border-radius: $brdr-radius;
  margin-bottom: 15px;
  border: 1px solid black;
  background: #f2f2f5;
}

.form-user {
  @include flexy($dir: column);
}

.js {
  &-error {
    margin-bottom: 10px;
    padding: 0.35em;
    background: red;
    color: $color-white;
    border-radius: $brdr-radius;
  }
  &-close {
    @include btn();
    background: green;
  }
  &-close-red {
    @include btn();
    background: red;
  }
}

.members-section {
  position: relative;
  margin-top: $margin-top;
}

#js-list-names {
  position: relative;
}

#js-list-names > ul {
  margin-bottom: 5px;
  position: absolute;
  border-radius: $brdr-radius;
  box-shadow: 4px 6px 0 rgba(32, 33, 36, 0.28);
  background-color: $color-white;
  width: 100%;
  & > li {
    padding: 5px;
  }
  & > li:hover {
    background-color: lightgrey;
  }
}
