/* ****************************** HEADER STYLES ***************************** */
header,
.icon-name {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  grid-area: header;
}

.border {
  border-right: 2px solid rgb(255, 251, 251);
}

.icon-profile {
  border-radius: 50%;
  background: rgb(109, 100, 54);
  margin: 0 10px 0 10px;
  height: 35px;
  border: 2px inset rgb(127, 127, 127);
}

div.icon-name:last-child {
  align-items: center;
}

.icon-name > p {
  width: 80px;
}

.dashboard {
  display: grid;
  grid-template-columns: 175px 1fr;
  grid-template-rows: 45px;
}

.dashboard > h2 {
  padding: 10px;
}

.input {
  background-color: #f2f2f5;
  padding: 5px 10px 0 0;
  text-align: right;
  border-left: 1px outset rgba(0, 0, 0, 0.8);
  border-bottom: 1px outset rgba(0, 0, 0, 0.8);
  border-right: 1px outset rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  position: relative;
}

input[type="text"].input-search {
  padding-left: 15px;
  border-radius: 5px;
  width: 50%;
  height: 30px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.input-search {
  background: #ffffff url("../icons/search.svg") no-repeat 98% 80%;
  background-size: 25px;
}
