/* ****************************** HEADER STYLES ***************************** */
header,
.icon-name {
  @include flexy($j-content: space-between);
  position: relative;
}

header {
  background: rgba(0, 0, 0, 0.8);
  color: $color-white;
  padding: 10px;
  grid-area: header;
}

.border {
  border-right: 2px solid rgb(255, 251, 251);
}

.icon {
  &-profile {
    border-radius: 50%;
    background: rgb(223, 187, 11);
    margin: 0 10px 0 10px;
    height: 35px;
    border: 2px inset rgb(253, 244, 244);
  }
  &-name {
    &:last-child {
      @include flexy($dsp: null, $align: center);
    }
    & > p {
      width: 80px;
    }
  }
}

.dashboard {
  @include grid($grid-col: 175px 1fr, $grid-row: 45px);
  & > h2 {
    padding: 10px;
  }
}

.input {
  background-color: #f2f2f5;
  padding: 5px 10px 0 0;
  text-align: right;
  border-left: 1px outset $primary-color;
  border-bottom: 1px outset $primary-color;
  border-right: 1px outset $primary-color;
  border-radius: 2px;
  position: relative;
  &-search {
    background: $color-white url("../icons/search.svg") no-repeat 98% 80%;
    background-size: 25px;
    padding-left: 15px;
    border-radius: $brdr-radius;
    width: 50%;
    height: 30px;
    border: none;
    border: 1px solid $primary-color;
  }
}
