/* *************************** MAIN CONTENT STYLES ************************** */
.members-section,
.social-stats,
.form,
.members-section {
  padding: 10px;
  overflow: auto;
}

/* Section border */

.add-border {
  border: 1px solid rgb(206, 203, 203);
  box-shadow: 1px 1px #888888;
}

div.social-stats > h2,
.members-section > h2,
.container-flex > h2,
.chart-bar > h2,
.chart-donut > h2 {
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.members-section {
  text-align: center;
}

main {
  grid-area: main;
}

div.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.icon-social {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
}

.icon-social-media {
  height: 50px;
  align-self: center;
  padding: 10px 0 0 20px;
}

.social-stats-sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
}

.social-stats-info {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0.35em 0;
  background: #f2f2f5;
  border-radius: 5px;
}

.social-text {
  padding-left: 35px;
}

div.social-text > p {
  font-size: 3em;
}

.members-img {
  border-radius: 50%;
  height: 55px;
  border: 2px inset rgba(0, 0, 0, 0.8);
}

.members-new {
  margin-bottom: 15px;
}

.brdr-line {
  border-bottom: 1px solid grey;
}

.chart-line,
.chart-bar,
.chart-donut {
  overflow: hidden;
  padding: 10px;
}

.widget-container {
  height: 280px;
}

.arrow-right {
  padding-top: 15px;
}

.traffic-nav li {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.traffic-nav li:hover {
  color: #fff;
  background-color: darkgreen;
}

.container-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
