/* ******************************* NAV STYLES ******************************* */
nav {
  @include flexy($j-content: space-evenly, $align: center);
  @media #{$break-m} {
    @include flexy($dir: column);
    position: sticky;
    height: 100vh;
  }
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 1;
  top: 64px;
  background: $nav--bck-col;
  grid-area: nav;
  padding: 2.5em 0;
}

.icon-nav {
  @media #{$break-m} {
    margin-bottom: 30px;
  }
  height: 30px;
}
