/* ******************************* NAV STYLES ******************************* */
nav {
  @include flexy($j-content: space-evenly);
  background: #1d1d1f;
  grid-area: nav;
  padding: 10px;
}

.icon-nav {
  height: 30px;
}
