/* ******************************** SETTINGS ******************************** */
.setting-one,
.setting-two {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.switch-light {
  width: 30%;
}

.setting-timezone {
  display: flex;
  margin-bottom: 20px;
}

select {
  flex-grow: 1;
  height: 45px;
  padding-left: 15px;
  margin-top: 20px;
  background: #f2f2f5;
}

.setting-button {
  display: flex;
}

.btn-1,
.btn-2 {
  flex-grow: 1;
}

.btn-1 + .btn-2 {
  margin-left: 20px;
}

.btn-2 {
  background: rgba(56, 55, 55, 0.8);
}
