/* ******************************** SETTINGS ******************************** */
.setting-one,
.setting-two {
  @include flexy($j-content: space-between);
  margin-bottom: 15px;
}

.switch-light {
  width: 30%;
  @media #{$break-s} {
    width: 60%;
  }
}

.setting-timezone {
  @include flexy();
  margin-bottom: 20px;
}

select {
  @include flexy($dsp: null, $f-grow: 1);
  height: 45px;
  padding-left: 15px;
  margin-top: 20px;
  background: #f2f2f5;
}
